#google-map {
	position: absolute;

	left: 500px;
	top: 60px;
	height: 90%;
	width: 1000px;
	margin: auto;
	border: 5px solid lightblue;
}

header {
	background-color: black;
}


.tabel {
	height: 350px;
	width: 300px;
	margin: 100px;
	background-color: white;
}

h1 {
	margin: 0;
	color: yellow;
	font-family: fontz;
	padding: 10px;
	text-align: center;

}
@font-face {
	font-family: fontz;
	src: url(fontz.ttf) format('truetype');
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #000000;

}
