#google-map {
	position: absolute;

	left: 500px;
	top: 60px;
	height: 90%;
	width: 1000px;
	margin: auto;
	border: 5px solid lightblue;
}

#tekst {
	background-color: red;
}
h1 {
	position: absolute;
	color: yellow;
	left: 900px;
	font-family: fontz;

}
@font-face {
	font-family: fontz;
	src: url(fontz.ttf) format('truetype');
}

html,
body {
	height: 100%;
	margin: 0px;
	padding: 0;
	background-color: #000000;
}
